<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">haptt</property>
        <property name="hibernate.connection.password">haptt</property>
        <property name="hibernate.connection.url">jdbc:mysql://103.216.112.212:3306/watchesDB?autoReconnect=true</property>
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.connectionCollation">utf8_unicode_ci</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <mapping class="bkap.shopwatches.domain.entity.UserEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.ProductEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.OrderProductEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.ShipMenthodEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.WireTypeEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.ImageProductEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.CompanyProductEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.CataLogEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.FavoriteProductEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.OrderDetailEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.CommandEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.PaymentTypeEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.SlideIndependendEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.ShipCompanyEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.ProductWireTypeEntity"></mapping>
        <mapping class="bkap.shopwatches.domain.entity.SaveProductEntity"></mapping>
        <!--<mapping class="com.dts.rentgame.database.hibernate.entity.UserEntity"></mapping>-->
    </session-factory>
</hibernate-configuration>